@model First_Core.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "index";
}

<h2>index</h2>

<body>
    <h1>@Model.CurrentMessage</h1>
    <table class="table">

        @foreach (var item in Model.Restaurants)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </table>
    <a asp-action="Create">Add Restaurant</a>
</body>
